<h1>Code Count</h1>
<h2>Enter the remote url for a git repository:</h2>
<form class="search">
	<input type="search" placeholder="Git repository url" autofocus/>
	<button type="submit">
		Go
	</button>
</form>
<h2>Or browse a popular repo</h2>
<ul>
    <li><a href="#overview?repo=https%3A%2F%2Fgithub.com%2Fjquery%2Fjquery.git">jquery</a></li>
    <li><a href="#overview?repo=https%3A%2F%2Fgithub.com%2Ftwbs%2Fbootstrap.git">bootstrap</a></li>
</ul>