<h1>{{name}}</h1>
<ul class="files">
{{#each files}}
	<li class="file">
		<span class="circle" style="width: {{size}}; height: {{size}};"></span>
		<span class="name">{{name}}</span>
	</li>
{{/each}}
</ul>